.stock-table{
    width: 100%;

    &__title{
        text-align: left;
        color: #577add;
        margin-bottom: 30px;
    }
    &__table{
        width: 100%;
        margin: 10px 0 30px 0;
        color: color_font;
        font-weight: 100;
        border-collapse: collapse;
    }
    &__phone , &__email{
        line-height: 1.5;
    }
    &__th{
        height: 40px;
        background: #d1d1d1;
        border: 1px solid #d1d1d1;
        border-right: 1px solid #fff;
        font-size: 14px;
        font-weight: bold;
    }
    &__th:last-child {
        border-right: 1px solid #d1d1d1;
   }

    &__td{
        text-align: left;
        padding: 6px 10px;
        border: 1px solid #EFEFEF;
        font-size: 14px;
        line-height: 1.3;
    }
    &__dealer-link, &__city-link{
        cursor: pointer;
    }
}
