.stock-table{
    width: 100%;
    margin: 10px 0 30px 0;
    color: color_font;
    font-weight: 100;
    border-collapse: collapse;

    &__th{
        height: 40px;
        background: #d1d1d1;
        border: 1px solid #d1d1d1;
        border-right: 1px solid #fff;
    }
    &__th:last-child {
        border-right: 1px solid #d1d1d1;
   }

    &__td{
        text-align: left;
        padding: 6px 10px 6px 22px;
        border: 1px solid #EFEFEF;
        font-size: 14px;
    }
}
