libs/
deploy/
node_modules/
/img/
.DS_Store
.idea
.project
.svn
npm-debug.log
gulpfile.js

# bem
.bem/cache/
.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemjson.js
!*bundles*/.bem/*
*pages*/*/*.*
!*pages*/*/*.bemjson.js
!*pages*/.bem/*
