.stock-content__title{
    margin: 80px 0 30px 0;
    text-align: center;
    color: color_font;
    font-size: 16px;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    .stock-content__title{
        margin: 50px 0 30px 0;
    }
}
