.popup_theme_stock
{
    border: 1px solid #ddd;

    &.popup_js_inited
    {
        display: block;
    }

    &.popup_visible
    {
        visibility: visible;
        margin: 0;
    }
}
