//цвет шрифтов
bg_button = #577add

.stock-button{
    display: block;
    border: none;
    outline: none;
    background: #577add;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 0 22px;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 2.5;
    cursor: pointer;

    &.button_pressed {
        line-height: 2.6;
    }
}
