.menu-logo{
    display: table;
    height: auto;
    width: auto;
    padding: 0;

    &__item {
        display: table-cell;
        width: 100px;
        height: 52px;
        padding: 0 25px;

        & .link{
            display: block;
            height: 100%;
            width: 100%;
        }

        & .link_brand_alfaromeo{
            background: url('../../img/logo_sprite.png') 0px center;
        }

        & .link_brand_fiat{
            background: url('../../img/logo_sprite.png') 300px center;
        }

        & .link_brand_jeep{
            background: url('../../img/logo_sprite.png') 200px center;
        }

        & .link_brand_fiatprofessional{
            background: url('../../img/logo_sprite.png') 100px center;
        }
    }
}
