.menu-logo{
    display: table;
    height: auto;
    width: auto;
    padding: 0;

    &__item {
        display: table-cell;
        width: 100px;
        height: 60px;
        padding: 0;

        & .link{
            display: block;
            height: 100%;
            width: 100%;
        }

        & .link_brand_alfaromeo{
            background: url('img/logo_sprite.png') center 0px;
        }

        & .link_brand_fiat{
            background: url('img/logo_sprite.png') center -60px;
        }

        & .link_brand_jeep{
            background: url('img/logo_sprite.png') center -120px;
        }

        & .link_brand_fiatprofessional{
            background: url('img/logo_sprite.png') center -180px;
        }
        & .link_brand_mopar{
            background: url('img/logo_sprite.png') center -240px;
        }
    }
}
