.stock-input .input__control{
    border: none;
    outline: none;
    background: color_bg;
    width: 615px;
    height: 40px;
    color: color_font;
    font-size: 16px;
    padding: 11px 22px;
    box-sizing: border-box;
    margin-top: 10px;
}
