.stock-input{
    display: block;
    margin: 0 auto;
    width: 95%;
    max-width: 615px;
}

.stock-input .input__control{
    border: none;
    outline: none;
    background: color_bg;
    width: 100%;
    height: 40px;
    color: color_font;
    font-size: 16px;
    padding: 11px 22px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
