.stock-button_loaded{
    background-image: url("img/ellipsis.gif");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: default;
}

.stock-button_loaded .button__text{
    display: none;
}
