.stock-footer{
    width: 100%;
    background: #ddd;
    height: 70px;
    color: color_font;

    &__content{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: table;
        height: 100%;
        font-size: 13px;
    }

    &__left, &__right{
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
        box-sizing: border-box;
    }

    &__right{
        text-align: right;
    }
}

@media screen and (max-width: 700px) {
    .stock-footer{
        &__content{
            font-size: 12px;
        }
        &__left, &__right{
             display: inline-block;
             text-align: center;
             width: 100%;
        }
        &__left{
            padding-top: 20px;
        }
        &__right{
            padding-top: 5px;
        }
    }
}
