.stock-footer{
    width: 100%;
    background: #ddd;
    height: 70px;

    &__content{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: table;
        height: 100%;
        font-size: 14px;
    }

    &__left, &__right{
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
    }

    &__right{
        text-align: right;
    }
}
